# .env
PROJECT_NAME="Meu Backend FastAPI"

# Postgres (Note o "+asyncpg" indicando o driver assíncrono)
DATABASE_URL="postgresql+asyncpg://usuario:senha@localhost:5432/meu_banco"

# MongoDB
MONGODB_URL="mongodb+srv://admin_fei:grupofoda123@cluster0.ytfqci2.mongodb.net/?appName=Cluster0"
MONGODB_DATABASE_NAME="supermercado_db"

# Redis
REDIS_HOST="redis-13656.crce196.sa-east-1-2.ec2.cloud.redislabs.com"
REDIS_PORT=13656
REDIS_PASSWORD="V2ND0fxW3ulJfhkZV2ByAsYnr5ZM9s0g"